@page
@model GarenaFrondEnd.Pages.RegisterModel
@{
    ViewData["Title"] = "Đăng ký";
}

<div class="register-container">
    <form method="post">
        <h2>Đăng ký</h2>

        <div class="form-group">

            <input type="text" asp-for="Register.UserName" class="form-control" required placeholder="Tên truy cập" autocomplete="username" />
        </div>

        <div class="form-group">

            <input type="password" asp-for="Register.Password" class="form-control" required placeholder="Mật khẩu" autocomplete="current-password" />
        </div>

        <div class="form-group">

            <input type="password" asp-for="Register.ConfirmPassword" class="form-control" required placeholder="Nhập lại mật khẩu"  />
        </div>

        <button type="submit" class="btn btn-danger">Đăng ký ngay</button>

        <div class="policy-links">
            Bằng cách nhấn Đăng Ký Ngay, bạn đồng ý với  <a href="https://contentgarena-a.akamaihd.net/legal/tos/tos_vn.html">Điều Khoản Dịch Vụ</a> và <a href="https://contentgarena-a.akamaihd.net/legal/pp/pp_vn.html">Chính Sách Bảo Mật</a>
        </div>
    </form>
</div>
